.DetailsInfo {
    background-color: rgb(57, 57, 68);
    background-image: url('./line.png');
    background-size: contain;
    padding: 15px;
}

.DetailsInfo .info_block {
    width: 70%;
}

.DetailsInfo .detail_info_block img {
    width: 30%;
}