.DetailsInfo {
    background-color: rgb(57, 57, 68);
    padding: 15px;
}

.DetailsInfo .detail_info_block {
    align-items: center;
}

.DetailsInfo .info_block img {
    width: 30%;
}

.DetailsInfo .detail_info_block {
    list-style: none;
    padding-left: 15px;
}